*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

#heading{
    background-color: #081b31;
    color: #fff;
    height: 4rem;
    line-height: 4rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        cursor: pointer;
        background-color: #081b31;
    }
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#userscore, #compscore{
    font-size: 3rem;
}

.players{
    font-weight: 500;
}

#msg{
    background-color: #081b31;
    color: #fff;
    margin-top: 3rem;
    font-size: 1.5rem;
    padding: 0.75rem 1rem;
    display: inline-block;
    border-radius: 1rem;
    text-transform: capitalize;
}


@media (max-width: 590px){
    .choices{
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2.5rem;
    }

    .choice {
        height: 120px;
        width: 120px;
        margin-bottom: 1rem;
    }

    img {
        height: 100px;
        width: 100px;
    }

    #msg {
        font-size: 1.2rem;
        margin-top: 2.8rem;
        padding: 0.5rem 0.8rem;
    }

    #heading {
        font-size: 2rem;
        height: auto;
        padding: 1rem;
        line-height: normal;
    }

    .scoreboard {
        font-size: 1.5rem;
        gap: 4rem;
        margin-top: 2.5rem;
    }

    #userscore, #compscore {
        font-size: 2rem;
    }


}