*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    overflow: hidden;
    /* for animation */
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #1b1b32;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info input{
    border: 1px solid darkgray;
    outline: none;
    padding: 10px 15px;
    width: 300px;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn{
    background-color: #07a0bb;
    color: white;
    border: none;
    outline: none;
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: large;
    cursor: pointer;
}

.popup{
    width: 400px;
    background-color: white;
    text-align: center;
    padding: 0 30px 30px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;

    transition: all 0.4s;
}

.open-popup{
    visibility: visible;
    /* top: 50%;
    transform: translate(-50%, -50%) scale(1); */
    animation: spiralAnimation 2.5s ease-in-out forwards;
}

@keyframes spiralAnimation {
    0% {
        top: -20%;
        left: -20%;
        transform: rotate(0deg) scale(0);
    }
    25% {
        top: 10%;
        left: 80%;
        transform: rotate(1800deg) scale(0.3);
    }
    50% {
        top: 60%;
        left: 80%;
        transform: rotate(3600deg) scale(0.5);
    }
    75% {
        top: 60%;
        left: 20%;
        transform: rotate(5400deg) scale(0.8);
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(7200deg) scale(1);
    }
}


.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 32px;
    margin: 30px 0 10px;
}

.popup p {
    padding: 20px 0 0 0;
    font-size: 18px; 
}

.popup button{
    width: 100%;
    background-color: #6fd649;
    color: white;
    border: none;
    outline: none;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 40px;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}