*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(14, 14, 14);

    text-align: center;
    font-family: lato;
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-width: 65vh;
    min-height: 40vh;

    box-shadow: 0 0 25px 2px rgba(255, 255, 255, 0.7);
}

form{
    margin: 2rem 0 0 0;
}

p{
    font-size: 1.1rem;
}

input,button,select{
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

input{
    border: 1px solid lightgray;
    font-size: 1.2rem;
    margin: 0.3rem 0 0 0;
    padding: 0.25rem 0.75rem;
    height: 2.5rem;
    text-align: center;
}

.dropdowns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem 0;
    gap: 1.5rem;
}

.select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 7rem;
    padding: 0.1rem;
    border: 1px solid lightgray;
    border-radius: 0.4rem;
}

.select-container img{
    width: 2.5rem;
}

select{
    font-size: 1rem;
    padding: 0.3rem;
    width: 6rem;
}


i{
    margin-top: 1.3rem;
    font-size: 1.5rem;
    color: #007bff;
    width: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.rotated {
    transform: rotate(180deg);
}

.output{
    margin: 2rem 0;
}

button{
    padding: 0.5rem 0.75rem;
    background-color: #007bff; 
    color: #fff;
    height: 2.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}


@media (max-width: 500px){
    .container{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}


@media (max-width: 400px){

    body{
        font-size: 14px;
    }

    input{
        height: 2.3rem;
    }

    .dropdowns{
        flex-direction: column;
        gap: 1rem;
    }

    i{
        margin-top: 0;
    }
}