body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

#heading{
    color: #333333;
    font-size: 3rem;
    margin-top: 1.4rem;
}

.game{
    height: 60vmin;
    width: 60vmin;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    gap: 1.5rem;
    margin: 0 auto;
    padding: 1.2rem;
}

.box{
    width: 15vmin;
    height: 15vmin;
    font-size: 7.5vmin;
    font-weight: 600;
    background-color:  white;
    color: black;

    border: 2px solid #A9A9A9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);}
}

.btn{
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: rgb(35, 35, 35);
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgb(15, 15, 15);
    }
}

.newbtn{
    margin-bottom: 0.7rem;
}

.winnermsg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#msg{
    font-size: 2rem;
    font-weight: 600;
    color: #DAA520;
    margin: 0;
    
}

.hide{
    display: none;
}

.x-color{
    color: #FF4500;
}

.o-color{
    color: #1E90FF;
}



@media (max-width: 500px){
    .game {
        width: 70vmin;
        height: 70vmin;
        gap: 1rem;
    }

    .box {
        font-size: 10vmin;
        width: 18vmin;
        height: 18vmin;
    }

    #heading{
        font-size: 2.7rem;
    }

    .winnermsg{
        gap: 2rem;
    }

    #msg {
        font-size: 1.8rem;
    }

    .btn{
        font-size: 0.9rem;
        padding: 0.7rem 0.9rem;
    }

    #resetbtn{
        margin-top: 2.5rem;
    }

}
