body{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    width: 500px;
    height: 300px;
    font-size: 25px;
    padding: 15px;
    resize: none;
}

p{
    margin-top: 30px;
}